{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <form action="#" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" name = "minority_class" id="nm" placeholder="Minority Class">
            <select name="algorithm" id="algorithm">
                <option value="autoencoder">Auto Encoder</option>
                <option value="gan">GAN</option>
            </select>              
            <input type="file" id="csv_file" name="csv_file">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
